<div class="card" style="width: 14rem;">
  <div 
    *ngIf="data; else personCard" 
    [class.text-success]="successDelete"
    [class.text-danger]="successDelete"
    >
    {{data}}
    <br />
    <a routerLink="/persons">Go back to list</a>
  </div>
  <ng-template #personCard>
    <div *ngIf="person" class="card-body">
      <h5 class="card-title">{{person.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">id: {{person.id}}</h6>
      <p class="card-text">age: {{person.age}}</p>
      <button class="btn btn-danger" (click)="deletePerson()">Delete</button>
    </div>
  </ng-template>
</div>
