
  <ul class="list-group">
    
  </ul>

  <div class="card" style="width: 36rem;">
    <ul class="list-group list-group-flush">
      <li *ngFor="let person of persons$ | async" class="list-group-item">
        <a [routerLink]="['/person', person.id]">{{ person.name }} | {{person.age}}</a>
      </li>
    </ul>
  </div>
